<!DOCTYPE html>
    <html>

    <head>

        <meta charset="utf-8">
        <link rel="stylesheet" href="top_bottom_template.css">

    </head>

    <body>

        <div class="top-bottom-template">

            <div class="menu-buttons">
                
                <!--A activer quand site terminé, boutons def. Actifs bc path template
                
                    <a id="home_button" href="../index.html">Accueil</a>
                    <a id="realisations_button" href="../realisations.html">Réalisations</a>
                    <a id="contact_button" href="../contact.html">Contact</a>

                -->

                <!-- Path template -->
                <a class="menu-buttons" class="middle" id="home_button" href="../top_bottom_template.html">Accueil</a>
                <a class="menu-buttons" id="realisations_button" href="../realisations.html">Réalisations</a>
                <a class="menu-buttons" id="contact_button" href="../contact.html">Contact</a>

            </div>

            <div class="logo-principal">    

                <img src="../images/logo-etik.png" id="logo-principal-image" alt="Cette image n'a pas été chargée, merci de recharger la page."/>

            </div>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <div class="bottom-links">

                <a href="https://instagram.com/etik.be" id="instagram-link">

                    <img src="../images/logo-insta.png" alt="Cette image n'a pas été chargée, merci de recharger la page." id="instagram-link-image"/>

                </a>

                <a href="https://facebook.com/etik.be.67" id="facebook-link" >
                
                    <img src="../images/logo-facebook.png" alt="Cette image n'a pas été chargée, merci de recharger la page." id="facebook-link-image"/>

                </a>

                <div id="lunik-link">

                    Notre partenaire pour vos projets de constructions neuves :

                    <br><br>

                    <a href="http://lunik-be.com/" id="lunik-link-clickable">LUNIK Bureau d'Etudes</a>

                    <br><br><br><br><br><br><br><br><br>
                    
                </div>
            </div>

        </div>

    </body>

    </html>