
/*global menu*/

.Menu1 {
	text-decoration: none;
	color: #1a91bd;
	font-size: 160%;
	position: absolute;
	padding: 0.5%;
	font-family: Verdana;
	margin-left: 32%;
	margin-top: -60%;
	animation-duration: 2s;
	animation-name: appMenu1;
}

.Menu2 {
	text-decoration: none;
	color: #1a91bd;
	font-size: 160%;
	position: absolute;
	padding: 0.5%;
	font-family: Verdana;
	margin-left: 44%;
	margin-top: -60%;
	animation-duration: 2s;
	animation-name: appMenu2;
}

.Menu3 {
	text-decoration: none;
	color: #1a91bd;
	font-size: 160%;
	position: absolute;
	padding: 0.5%;
	font-family: Verdana;
	margin-left: 58%;
	margin-top: -60%;
	animation-duration: 2s;
	animation-name: appMenu3;
}

body {
	background-image: url("../ressources/images/header_bg_img.png");
	background-repeat: no-repeat;
	margin-top: 65%;
	background-position: center;
	background-size: 70%;
}


@keyframes appMenu1 {
	from {
		margin-left: 0%;
		opacity: 0;
	}
	to {
		margin-left:32%;
		opacity: 100;
	}
}

@keyframes appMenu2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

@keyframes appMenu3 {
	from {
		margin-left: 100%;
		opacity: 0;
	}
	to {
		margin-left:58%;
		opacity: 100;
	}
}
